// Here you can add other styles
a.nav-link {
  font-family: Source Sans Pro !important;
}
a.dropdown-item,
.dropdown-header {
  font-family: Source Sans Pro !important;
}
.body {
  background: white !important;
  padding-top: 30px !important;
  font-family: Source Sans Pro !important;
}
.header-logo-subtitle {
  font-size: 12px;
  text-align: center;
  color: grey;
}
.header-logo {
  padding-right: 10px;
}
.sidebar-nav .nav-group.show {
  background: #ea4c89;
  color: white;
}
.sidebar-nav .nav-link.active,
.sidebar-nav .nav-link:hover {
  color: #ea4c89 !important;
  background: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.sidebar-nav .nav-link {
  color: white;
  background: #ea4c89f2;
}

.sidebar-nav .show {
  background: #ea4c89;
}

.sidebar-nav .nav-link.active .nav-icon,
.sidebar-nav .nav-link:hover .nav-icon {
  color: #ea4c89 !important;
}
.avatar-img {
  height: 100%;
}
.w-115 {
  width: 115px;
}
.sidebar-brand {
  color: #ea4c89;
  background: #00989900;
}
.sidebar-toggler {
  background-color: #ea4c89;
}
.sidebar {
  --cui-sidebar-bg: #ffe3ee;
}
.sidebar-toggler:hover {
  background-color: #ea4c89;
}
.theme-color {
  color: #ea4c89 !important;
}
.breadcrumb-item.active {
  color: #ea4c89;
}
a {
  color: #000000cf;
  text-decoration: none;
}
.theme-background {
  background: #ea4c89;
}
.theme-btn-background {
  background: #ea4c89;
  border-color: #ea4c89;
  color: white;
}

.theme-btn-background:hover {
  background: #ea4c89 !important;
  border-color: #ea4c89 !important;
  color: white;
}
.theme-spinner-color {
  color: #ea4c89;
}
.sign-up-btn {
  border-color: white !important;
  color: white !important;
}
.text-right {
  text-align: right !important;
}
.forgot-link {
  color: grey;
  text-decoration: none;
  text-align: right;
}

.forgot-link:hover {
  color: #ea4c89;
}
.error-msg {
  color: red;
  font-weight: 400;
}

.success-msg {
  color: green;
  font-weight: 400;
}
.cursor-pointer {
  cursor: pointer;
}
.form-label {
  font-size: 14px;
}
.left-text {
  text-align: left !important;
}
.right-text {
  text-align: right !important;
}
.custom-header {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.theme-btn {
  background-color: #ea4c89;
  border-color: #ea4c89;
}
.theme-btn:hover {
  background-color: #ea4c89;
  border-color: #ea4c89;
}
.mt-minus-10 {
  margin-top: -10px;
}
.d-fex {
  display: flex;
}
.img-preview {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-left: 20px;
  border: 1px solid #80808057;
}
.beauti-role {
  background: #8a2be238;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
}
.user-role {
  background: #5f9ea04f;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
}
.banner-img-preview {
  width: 300px;
  height: 200px;
  margin-left: 20px;
  border: 1px solid #80808057;
}
.form-header {
  font-weight: bold;
  background: #8080803d;
  padding: 12px;
}
.mt-60 {
  margin-top: 60px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-12 {
  margin-left: 12px;
}
.mr-5 {
  margin-right: 5px;
}
.mtop-5 {
  margin-top: 5px;
}
@media (max-width: 469px) {
  .mt-60 {
    margin-top: 105px;
  }
}
.form-check-input:checked {
  background-color: #ea4c89;
  border-color: #009899 !important;
}
.shift-div {
  border: 1px solid #8080803d;
  border-radius: 20px;
  padding: 21px;
  text-align: center;
}
.morning_div {
  border-top: 1px solid #8080804a;
  padding-top: 12px;
}
.evening_div {
  border-top: 1px solid #8080804a;
  padding-top: 12px;
}
.display-flex {
  display: flex;
}
@media (max-width: 420px) {
  .display-flex {
    display: block;
  }
  .ml-12 {
    margin-left: 0px;
  }
}
.login-bg {
  background: url("../assets/images/logo/bg-frame.svg") no-repeat;
  background-size: cover;
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1550px !important;
  }
}
.color-white {
  color: white;
}
.sidebar-fixed {
  background: #ea4c89;
}
.footer {
  background: #ea4c89;
  color: white;
  font-family: Source Sans Pro;
}
.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
  text-decoration: none;
  background-color: #ea4c89ad;
}
@media (max-width: 900px) {
  .MuiTableHead-root {
    display: none !important;
  }
  .MuiTableCell-sizeMedium {
    display: inline-block !important;
  }
  .MuiTableCell-paddingCheckbox {
    display: table-cell !important;
  }
}
tbody {
  font-family: Source Sans Pro !important;
}
.MuiTableCell-head {
  background: #ea4c89 !important;
  color: White !important;
}
.MuiTableCell-head .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: White !important;
}
@media (max-width: 426px) {
  .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    font-size: 10px !important;
  }
}
.action-btn {
  padding: 4px 10px;
  margin: 0 6px;
  font-size: 14px;
}
.color-grey {
  color: #6a5b5b;
}
.p-20 {
  padding: 20px;
}
.mt-minus-4 {
  margin-top: -4px;
}
.service-btn {
  color: darkcyan !important;
  border: 1px solid darkcyan !important;
  background: white !important;
}

.service-btn:hover {
  color: white !important;
  border: 1px solid darkcyan !important;
  background: darkcyan !important;
}

.review-btn {
  color: blueviolet !important;
  border: 1px solid blueviolet !important;
  background: white !important;
}

.review-btn:hover {
  color: white !important;
  border: 1px solid blueviolet !important;
  background: blueviolet !important;
}

.info-btn {
  color: #bf860c;
  border: 1px solid #bf860c !important;
  background: white !important;
}

.info-btn:hover {
  color: white !important;
  border: 1px solid #bf860c !important;
  background: #bf860c !important;
}

.pending_app {
  font-weight: bold;
  background: #f9b115;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.completed_app {
  font-weight: bold;
  background: green;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.cancelled_app {
  font-weight: bold;
  background: #ff0000e0;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.accepted_app {
  font-weight: bold;
  background: cornflowerblue;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.editIcon {
  color: #6495ed;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}
.completedIcon {
  color: green;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}
.deleteIcon {
  color: #ff0000b3;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}
.viewIcon {
  color: rgb(24, 152, 187);
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}
.appid-div {
  font-weight: bold;
  background: #ea4c8921;
  color: #ea4c89;
  padding: 10px;
  text-align: center;
}
.appointment-header {
  background: #009899;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.app_complete_style {
  padding: 12px;
  text-align: end;
  font-size: 21px;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}
.app_cancel_style {
  padding: 12px;
  text-align: end;
  font-size: 21px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}
.app_pending_style {
  padding: 12px;
  text-align: end;
  font-size: 21px;
  color: #f9b115;
  text-transform: uppercase;
  font-weight: bold;
}
.app_accepted_style {
  padding: 12px;
  text-align: end;
  font-size: 21px;
  color: cornflowerblue;
  text-transform: uppercase;
  font-weight: bold;
}
.app-header {
  font-weight: bold;
  background: #ea4c89;
  padding: 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.appdetail-div {
  padding: 12px;
  background: rgb(128 128 128 / 9%);
}
.display-flex {
  display: flex;
}
@media (max-width: 420px) {
  .display-flex {
    display: block;
  }
  .ml-12 {
    margin-left: 0px;
  }
}
.appdatediv {
  background: white;
  padding: 12px;
  border-radius: 7px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0px 5px 8px 2px #ea4c89c2;
  color: black;
}
.info-card-img {
  height: -webkit-fill-available;
}
.info-header {
  font-weight: bold;
  background: #ffe3ee;
  padding: 12px;
  color: #000000ba;
}
.p-12 {
  padding: 12px;
}
.top-performer-banner {
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-image: url("../assets/dashboard-bg.png"); /* Replace 'path_to_your_image.jpg' with your image URL */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
}
/* Dashboard.css */

.dashboard-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.dashboard-user {
  height: 250px;
  width: 300px;
  border-radius: 12%;
  clip-path: polygon(
    50% 0%,
    51% 0%,
    53% 1%,
    56% 1%,
    58% 1%,
    62% 6%,
    64% 8%,
    68% 6%,
    71% 4%,
    76% 2%,
    81% 1%,
    86% 2%,
    87% 9%,
    91% 18%,
    91% 19%,
    94% 17%,
    97% 16%,
    100% 15%,
    100% 18%,
    98% 33%,
    92% 35%,
    91% 37%,
    91% 39%,
    92% 40%,
    100% 45%,
    96% 42%,
    97% 46%,
    98% 50%,
    100% 52%,
    100% 55%,
    100% 57%,
    100% 61%,
    100% 64%,
    94% 66%,
    94% 67%,
    94% 69%,
    95% 70%,
    98% 75%,
    100% 79%,
    99% 81%,
    100% 83%,
    96% 89%,
    94% 89%,
    92% 90%,
    88% 95%,
    86% 99%,
    81% 99%,
    75% 100%,
    75% 100%,
    74% 100%,
    67% 90%,
    67% 89%,
    66% 88%,
    62% 89%,
    56% 98%,
    55% 100%,
    49% 98%,
    46% 99%,
    30% 100%,
    32% 93%,
    32% 93%,
    30% 89%,
    29% 86%,
    29% 86%,
    27% 85%,
    26% 85%,
    22% 81%,
    16% 78%,
    15% 77%,
    14% 77%,
    13% 77%,
    0% 77%,
    0% 76%,
    0% 66%,
    0% 63%,
    6% 61%,
    6% 61%,
    6% 56%,
    3% 51%,
    2% 50%,
    0% 48%,
    0% 47%,
    0% 43%,
    0% 39%,
    0% 37%,
    1% 37%,
    13% 44%,
    13% 45%,
    13% 44%,
    21% 37%,
    18% 36%,
    17% 35%,
    12% 31%,
    11% 31%,
    10% 32%,
    9% 27%,
    10% 21%,
    12% 21%,
    15% 22%,
    18% 22%,
    26% 9%,
    21% 16%,
    26% 9%,
    26% 8%,
    27% 7%,
    27% 6%,
    28% 2%,
    29% 3%,
    35% 5%,
    40% 6%,
    41% 6%,
    44% 6%,
    45% 2%,
    47% 1%
  );
}
.artist-info {
  background-color: #f0f0f0;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.count-item {
  transform: perspective(75em) rotateX(37deg);
  box-shadow: rgb(22 31 39 / 42%) 0px 60px 123px -25px, rgb(19 26 32 / 8%) 0px 35px 75px -35px;
  border-radius: 10px !important;
  border: 1px solid !important;
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204) !important;
  text-align: center;
}

.count-type,
.count-number {
  transform: translateZ(30px); /* Move the text forward in 3D space */
}

.count-type {
  font-weight: bold;
}

.banner-text {
  margin-top: 10px;
  color: #555;
}

@media (max-width: 768px) {
  .top-performer-banner {
    padding: 15px;
  }

  .banner-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .top-performer-banner {
    padding: 10px;
  }

  .banner-text {
    font-size: 12px;
  }
}

.count-number {
  color: #007bff;
  font-size: 18px;
}
.subtext {
  margin-bottom: 20px;
  color: #666;
}

.banner-text {
  margin-top: 10px;
  color: #555;
}
.color-white {
  color: white;
}
.f-30 {
  font-size: 30px !important;
}
.f-15 {
  font-size: 15px !important;
}

.f-14 {
  font-size: 14px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.top-counts {
  color: #ea4c89;
  font-size: 42px !important;
  font-weight: bold !important;
}
.inline-grid-item {
  display: inline-block;
  width: calc(100% / 5); /* Adjust the number (5) based on the number of items you want in a row */
}

.banner-text {
  margin-top: 10px;
  color: #555;
}

.color-white {
  color: white;
}

.f-30 {
  font-size: 30px !important;
}

.f-16 {
  font-size: 16px !important;
}

.top-counts {
  color: #ea4c89;
  font-size: 42px !important;
  font-weight: bold !important;
}

.inline-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inline-grid-item {
  width: calc(100% / 5); /* Adjust the number (5) based on the number of items you want in a row */
  margin-bottom: 20px;
}
.count-type {
  font-size: 12px !important;
}

@media (max-width: 992px) {
  .inline-grid-item {
    width: calc(100% / 4); /* Adjust the number (4) for smaller screens */
  }
}

@media (max-width: 768px) {
  .inline-grid-item {
    width: calc(100% / 3); /* Adjust the number (3) for tablets */
  }
}

@media (max-width: 576px) {
  .inline-grid-item {
    width: 100%; /* Full width for smaller devices */
  }
}
.user-image-container {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the image horizontally */
  text-align: center; /* Center the image and text */
}

.user-info-container {
  width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .user-image-container {
    max-width: 100%;
    margin-bottom: 10px; /* Add space between image and text */
  }

  .user-info-container {
    max-width: 100%;
  }
  .dashboard-user {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 1024px) {
  .count-type {
    overflow: hidden;
  }
}
.dchart-style {
  padding: 10px 35px;
  border: 1px solid #8080804a;
  border-radius: 12px;
  box-shadow: #ea4c894a 0px 25px 50px -12px;
}
.me-3 {
  padding: 0px !important;
}
//{
// .card {
//   width: 400px;
//   margin: 20px;
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }
.custom-header {
  font-size: 20px;
  margin-top: 20px;
}
.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 10px 10px 10px !important;
}
.card-shadow {
  box-shadow: rgb(234 76 137 / 29%) 0px 25px 50px !important;
}
.leftContent {
  width: 30%;
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rightContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
}
.leftContent1 {
  flex-basis: 60%; /* Set the width to 60% */
}

.rightContent1 {
  flex-basis: 30%; /* Set the width to 30% */
  text-align: right; /* Align text to the right */
}
.profileImg {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.dateTime {
  margin-bottom: 10px;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
  border: 1px solid #80808061;
}

.title {
  flex-basis: 50%; /* Set the width to 50% */
  text-align: left;
}

.dateTime {
  flex-basis: 50%; /* Set the width to 50% */
  text-align: right;
}
.mb-10 {
  margin-bottom: 10px;
}
/* Media query for responsiveness */
@media (max-width: 600px) {
  .headerContent {
    flex-direction: column; /* Stack elements vertically */
  }

  .title,
  .dateTime {
    flex-basis: auto; /* Reset the width to auto */
    text-align: left; /* Align text to the left */
    margin-bottom: 10px; /* Add space between elements */
  }
}
.progress {
  display: none;
}
.mt-22 {
  margin-top: 22px;
}
.card-shadow {
  box-shadow: rgb(234 76 137 / 29%) 0px 25px 50px;
}
.upcoming-header {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #ea4c89;
  color: white;
  padding: 10px;
}
.top-user {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 50%;
  border: 2px solid #ea4c89;
  padding: 15px;
}
.app-btn {
  color: #ea4c89 !important;
  border: 1px solid #ea4c89 !important;
  background: white !important;
}
.app-btn:hover {
  color: white !important;
  border: 1px solid #ea4c89 !important;
  background: #ea4c89 !important;
}
.cursor-pointer {
  cursor: pointer;
}
