// Here you can add other styles
a.nav-link {
  font-family: Source Sans Pro !important;
}
a.dropdown-item,
.dropdown-header {
  font-family: Source Sans Pro !important;
}
.body {
  background: white !important;
  padding-top: 30px !important;
  font-family: Source Sans Pro !important;
}
.header-logo-subtitle {
  font-size: 12px;
  text-align: center;
  color: grey;
}
.header-logo {
  padding-right: 10px;
}
.sidebar-nav .nav-group.show {
  background: #ea4c89;
  color: white;
}
.sidebar-nav .nav-link.active,
.sidebar-nav .nav-link:hover {
  color: #ea4c89 !important;
  background: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.sidebar-nav .nav-link {
  color: white;
  background: #ea4c89f2;
}

.sidebar-nav .show {
  background: #ea4c89;
}

.sidebar-nav .nav-link.active .nav-icon,
.sidebar-nav .nav-link:hover .nav-icon {
  color: #ea4c89 !important;
}
.avatar-img {
  height: 100%;
}
.w-115 {
  width: 115px;
}
.sidebar-brand {
  color: #ea4c89;
  background: #00989900;
}
.sidebar-toggler {
  background-color: #ea4c89;
}
.sidebar {
  --cui-sidebar-bg: #ffe3ee;
}
.sidebar-toggler:hover {
  background-color: #ea4c89;
}
.theme-color {
  color: #ea4c89;
}
.breadcrumb-item.active {
  color: #ea4c89;
}
a {
  color: #000000cf;
  text-decoration: none;
}
.theme-background {
  background: #ea4c89;
}
.theme-btn-background {
  background: #ea4c89;
  border-color: #ea4c89;
  color: white;
}

.theme-btn-background:hover {
  background: #ea4c89 !important;
  border-color: #ea4c89 !important;
  color: white;
}
.theme-spinner-color {
  color: #ea4c89;
}
.sign-up-btn {
  border-color: white !important;
  color: white !important;
}
.text-right {
  text-align: right !important;
}
.forgot-link {
  color: grey;
  text-decoration: none;
  text-align: right;
}

.forgot-link:hover {
  color: #ea4c89;
}
.error-msg {
  color: red;
  font-weight: 400;
}

.success-msg {
  color: green;
  font-weight: 400;
}
.cursor-pointer {
  cursor: pointer;
}
.form-label {
  font-size: 14px;
}
.left-text {
  text-align: left !important;
}
.right-text {
  text-align: right !important;
}
.custom-header {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.theme-btn {
  background-color: #ea4c89;
  border-color: #ea4c89;
}
.theme-btn:hover {
  background-color: #ea4c89;
  border-color: #ea4c89;
}
.mt-minus-10 {
  margin-top: -10px;
}
.d-fex {
  display: flex;
}
.img-preview {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-left: 20px;
  border: 1px solid #80808057;
}
.beauti-role {
  background: #8a2be238;
  width: 40%;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
}
.user-role {
  background: #5f9ea04f;
  width: 40%;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
}
.banner-img-preview {
  width: 300px;
  height: 200px;
  margin-left: 20px;
  border: 1px solid #80808057;
}
.form-header {
  font-weight: bold;
  background: #8080803d;
  padding: 12px;
}
.mt-60 {
  margin-top: 60px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-12 {
  margin-left: 12px;
}
.mr-5 {
  margin-right: 5px;
}
.mtop-5 {
  margin-top: 5px;
}
@media (max-width: 469px) {
  .mt-60 {
    margin-top: 105px;
  }
}
.form-check-input:checked {
  background-color: #ea4c89;
  border-color: #009899 !important;
}
.shift-div {
  border: 1px solid #8080803d;
  border-radius: 20px;
  padding: 21px;
  text-align: center;
}
.morning_div {
  border-top: 1px solid #8080804a;
  padding-top: 12px;
}
.evening_div {
  border-top: 1px solid #8080804a;
  padding-top: 12px;
}
.display-flex {
  display: flex;
}
@media (max-width: 420px) {
  .display-flex {
    display: block;
  }
  .ml-12 {
    margin-left: 0px;
  }
}
.login-bg {
  background: url("../assets/images/logo/bg-frame.svg") no-repeat;
  background-size: cover;
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1550px !important;
  }
}
.color-white {
  color: white;
}
.sidebar-fixed {
  background: #ea4c89;
}
.footer {
  background: #ea4c89;
  color: white;
  font-family: Source Sans Pro;
}
.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
  text-decoration: none;
  background-color: #ea4c89ad;
}
@media (max-width: 900px) {
  .MuiTableHead-root {
    display: none !important;
  }
  .MuiTableCell-sizeMedium {
    display: inline-block !important;
  }
  .MuiTableCell-paddingCheckbox {
    display: table-cell !important;
  }
}
tbody {
  font-family: Source Sans Pro !important;
}
.MuiTableCell-head {
  background: #ea4c89 !important;
  color: White !important;
}
.MuiTableCell-head .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: White !important;
}
@media (max-width: 426px) {
  .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    font-size: 10px !important;
  }
}
.action-btn {
  padding: 4px 10px;
  margin: 0 6px;
  font-size: 14px;
}
.color-grey {
  color: #6a5b5b;
}
.p-20 {
  padding: 20px;
}
.mt-minus-4 {
  margin-top: -4px;
}
.service-btn {
  color: darkcyan !important;
  border: 1px solid darkcyan !important;
  background: white !important;
}

.service-btn:hover {
  color: white !important;
  border: 1px solid darkcyan !important;
  background: darkcyan !important;
}

.review-btn {
  color: blueviolet !important;
  border: 1px solid blueviolet !important;
  background: white !important;
}

.review-btn:hover {
  color: white !important;
  border: 1px solid blueviolet !important;
  background: blueviolet !important;
}

.info-btn {
  color: #bf860c;
  border: 1px solid #bf860c !important;
  background: white !important;
}

.info-btn:hover {
  color: white !important;
  border: 1px solid #bf860c !important;
  background: #bf860c !important;
}

.pending_app {
  font-weight: bold;
  background: #f9b115;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.completed_app {
  font-weight: bold;
  background: green;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.cancelled_app {
  font-weight: bold;
  background: #ff0000e0;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.accepted_app {
  font-weight: bold;
  background: cornflowerblue;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.editIcon {
  color: #6495ed;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}
.completedIcon {
  color: green;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}

.viewIcon {
  color: rgb(24, 152, 187);
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px !important;
  padding: 4px;
}
.appid-div {
  font-weight: bold;
  background: #ea4c8921;
  color: #ea4c89;
  padding: 10px;
  text-align: center;
}
